body {
    font-family: monospace, roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#calculator {
    height: 500px;
    width: 350px;
    border: solid 2px black;
    border-radius: 8px;
    padding: 15px;
    background-color: #1a1a1a;
}

#screen {
    height: 150px;
    border: solid 2px black;
    border-radius: 8px;
    margin: 15px;
    color: #1a1a1a;
    background-color: #e6e8e9;
}

#formula {
    height: 100px;
    font-size: 18px;
    text-align: right;
}

#input-output{
    height: 50px;
    font-size: 28px;
    text-align: right;
}


#keys {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    margin: 15px;
}

button {
    height: 50px;
    border: solid 2px black;
    border-radius: 8px;
    font-size: 24px;
    color: #e6e8e9;
    background-color: #3d3c3c;
}

#all-clear, #delete, #percent {
    color: #1a1a1a;
    background-color:rgb(168, 168, 168);
}

#divide, #multiply, #subtract, #add, #equal {
    background-color: #ff1e00;
}